@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Logging
@inject NavigationManager NavigationManager
@implements IDisposable

<h1>WebSocket</h1>
<br />

<ul id="eventsList">
    @foreach (var e in events)
    {
        <li>@e</li>
    }
</ul>

@code {
    private HubConnection hubConnection;
    private List<string> events = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(new Uri("http://host.docker.internal:5000/events"))
            .ConfigureLogging(logging =>
            {
                logging.SetMinimumLevel(LogLevel.Debug);
                logging.AddConsole();
            })
            .Build()
            ;

        hubConnection.On<string>("OnEventListener", (evnt) =>
        {
            events.Add(evnt);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }
}